@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.3333%);
  }
}
.animate-marquee {
  animation: scroll-marquee 40s linear infinite;
}
